@import "typographic-grid";

/* Typography */
body {
	color: #0e1f35;
	font-family: "Source Sans Pro", sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #0e1f35;
	font-family: "Source Serif Pro", serif;
	font-weight: normal;
}
h1, h2 {
	color: #6d7d92;
}
a {
	font-weight: bold;
	text-decoration: none;
	transition: color 0.2s;

	&,
	&:visited {
		color: #6d7d92;
	}

	&:hover,
	&:focus {
		color: #223754;
	}

	footer & {

		&,
		&:visited {
			color: #c7cdd6;
		}

		&:hover,
		&:focus {
			color: #fff;
		}
	}
}

/* Structure */
body {
	background: #eee;
}
.wrap {
	background-color: #fff;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.05);
	margin: 0 auto;
	max-width: 60em;
}
header,
main,
footer {
	& > :first-child {
		margin-top: 0;
	}
	& > :last-child {
		margin-bottom: 0;
	}
}

header,
footer {
	background-color: #223754;
	color: #c7cdd6;
}

header {
	padding: 2.625rem;
	text-align: center;
	text-shadow: 1px 1px 1px #000;

	img {
		border: 0.375rem solid #fff;
		border-radius: 50%;
		max-width: 10.5em;
	}

	h1 {
		color: #e5e9ef;
		margin-bottom: 1.7647059rem;
	}

	.subtitle {
		color: inherit;
		font-style: italic;
	}
}

main {
	clear: left;
	padding: 2.625rem;

	h2 {
		border-bottom: 1px solid #eee;
	}
}

footer {
	padding: 5.25rem 0;
	text-align: center;

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: inline-block;

		& + li {
			margin-left: 1.625rem;
		}
	}

	.genericon {
		font-size: 32px;
	}
}

/* Elements */
img {
	height: auto;
	max-width: 100%;
}

/* Miscellaneous */
.genericon.genericon-mail,
.genericon.genericon-home {
	font-size: 48px;
	margin-top: -6px;
}
