html, .root {
  font-size: 17px;
  line-height: 30px; }

body, .article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.7647059rem; }

h1, .h1 {
  font-size: 4.2352941rem;
  line-height: 5.2941176rem;
  margin-top: 1.7647059rem;
  margin-bottom: 3.5294118rem; }

h2, .h2 {
  font-size: 2.6470588rem;
  line-height: 3.5294118rem;
  margin-top: 1.7647059rem;
  margin-bottom: 1.7647059rem; }

h3, .h3 {
  font-size: 1.6470588rem;
  line-height: 1.7647059rem;
  margin-top: 1.7647059rem;
  margin-bottom: 0; }

h4, .h4 {
  font-size: 1rem;
  line-height: 1.7647059rem;
  margin-top: 1.7647059rem;
  margin-bottom: 0; }

h5, .h5 {
  font-size: 1rem;
  line-height: 1.7647059rem;
  margin-top: 1.7647059rem;
  margin-bottom: 0; }

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.7647059rem; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

hr, .hr {
  border: 1px solid;
  margin: -1px 0; }

a, b, i, strong, em, small, code {
  line-height: 0; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Typography */
body {
  color: #0e1f35;
  font-family: "Source Sans Pro", sans-serif; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #0e1f35;
  font-family: "Source Serif Pro", serif;
  font-weight: normal; }

h1, h2 {
  color: #6d7d92; }

a {
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s; }
  a, a:visited {
    color: #6d7d92; }
  a:hover, a:focus {
    color: #223754; }
  footer a, footer a:visited {
    color: #c7cdd6; }
  footer a:hover, footer a:focus {
    color: #fff; }

/* Structure */
body {
  background: #eee; }

.wrap {
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  max-width: 60em; }

header > :first-child,
main > :first-child,
footer > :first-child {
  margin-top: 0; }

header > :last-child,
main > :last-child,
footer > :last-child {
  margin-bottom: 0; }

header,
footer {
  background-color: #223754;
  color: #c7cdd6; }

header {
  padding: 2.625rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000; }
  header img {
    border: 0.375rem solid #fff;
    border-radius: 50%;
    max-width: 10.5em; }
  header h1 {
    color: #e5e9ef;
    margin-bottom: 1.7647059rem; }
  header .subtitle {
    color: inherit;
    font-style: italic; }

main {
  clear: left;
  padding: 2.625rem; }
  main h2 {
    border-bottom: 1px solid #eee; }

footer {
  padding: 5.25rem 0;
  text-align: center; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer li {
    display: inline-block; }
    footer li + li {
      margin-left: 1.625rem; }
  footer .genericon {
    font-size: 32px; }

/* Elements */
img {
  height: auto;
  max-width: 100%; }

/* Miscellaneous */
.genericon.genericon-mail,
.genericon.genericon-home {
  font-size: 48px;
  margin-top: -6px; }
